<div class="header">
    <a href="#" class="logo"><img src="../../assets/images/logo.png" width="310" height="72" alt=""></a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="login">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">PetGuide</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
    </ul>
</div>